<section class="delivery page-section">
  <div class="container">
    <h3 class="delivery__title page-title">
      Доставка
    </h3>
    <p class="delivery__text">
      Выберите способ доставки
    </p>
    <div class="delivery__tabs-wrapper tabs__wrapper">
      <div class="delivery__tabs tabs">
        <a class="delivery__tab tab active" href="#delivery-pickup">
          <svg
            class="delivery__tab-img"
            enable-background="new 0 0 512 512"
            version="1.1"
            viewBox="0 0 512 512"
          ><g><path
                d="M416.9,295.5l-17.6,5L356,148.9c-0.5-1.9-1.8-3.5-3.6-4.5c-1.7-1-3.8-1.2-5.7-0.7l-74,21.1c0,0,0,0,0,0l-42.3,12.1    c0,0,0,0,0,0l-66.8,19l-17.7-62.1c-0.6-2.1-2.1-3.8-4-4.7l-45.6-21.3c-3.8-1.8-8.2-0.1-10,3.6c-1.8,3.8-0.1,8.2,3.6,10l42.5,19.9    l18.8,65.9c0,0,0,0,0,0.1L186.4,331c-6.8,3.5-12.4,8.9-16.2,15.7c-5.1,9.1-6.3,19.7-3.4,29.7c4.8,16.7,20.2,28.4,37.6,28.4    c3.6,0,7.2-0.5,10.7-1.5c10-2.9,18.4-9.5,23.4-18.6c4.1-7.4,5.7-15.8,4.6-24.1L396,317.1c0,0,0.1,0,0.1,0L421,310    c4-1.1,6.3-5.3,5.2-9.3C425,296.7,420.8,294.4,416.9,295.5z M279.8,217.1L268,213c-3-1.1-6.3-0.1-8.3,2.4l-7.8,9.7l-10.2-35.8    l27.9-7.9L279.8,217.1z M225.4,377.5c-3.1,5.6-8.3,9.7-14.4,11.4c-2.2,0.6-4.4,0.9-6.6,0.9c-10.7,0-20.2-7.2-23.1-17.5    c-1.8-6.2-1-12.7,2.1-18.3c3.1-5.6,8.3-9.7,14.4-11.4c2.2-0.6,4.4-0.9,6.6-0.9c10.7,0,20.2,7.2,23.1,17.5    C229.3,365.4,228.5,371.9,225.4,377.5z M238.3,346.4c-6.8-12-19.7-19.7-33.9-19.7c-1.2,0-2.3,0.1-3.5,0.2l-33.2-116.5l59.6-17    l14.2,49.7c0.8,2.7,3,4.7,5.7,5.3c0.5,0.1,1,0.1,1.5,0.1c2.2,0,4.4-1,5.8-2.8l13.6-16.9l20.4,7.2c0.8,0.3,1.7,0.4,2.6,0.4    c4.1,0,7.5-3.4,7.5-7.5c0-0.9-0.2-1.8-0.5-2.6l-14-49.2l59.6-17l41.2,144.4L238.3,346.4z"
              ></path></g></svg>
          <span class="delivery__tab-text">
            Самовывоз
          </span>
        </a>
        <a class="delivery__tab tab" href="#delivery-courier">
          <svg
            class="delivery__tab-img"
            enable-background="new 0 0 512 512"
            version="1.1"
            viewBox="0 0 512 512"
          ><g></g><g><g><path
                  d="M401.8,206.5c-1.4-2-3.7-3.2-6.1-3.2h-46.5v-19.8c0-4.1-3.4-7.5-7.5-7.5H173.2c-4.1,0-7.5,3.4-7.5,7.5v121.2    c0,4.1,3.4,7.5,7.5,7.5h21.2c3.9,13.6,16.5,23.7,31.3,23.7s27.4-10,31.3-23.7h83.1c3.9,13.6,16.5,23.7,31.3,23.7    s27.4-10,31.3-23.7h15.5c4.1,0,7.5-3.4,7.5-7.5V243c0-1.6-0.5-3.1-1.4-4.3L401.8,206.5z M410.8,245.2h-33.6v-26.8h14.7    L410.8,245.2z M180.7,191.1h153.5v106.2h-76.5c-2.9-15.1-16.1-26.5-32-26.5s-29.2,11.4-32,26.5h-13V191.1z M225.7,320.9    c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6S235.4,320.9,225.7,320.9z M371.5,320.9    c-9.7,0-17.6-7.9-17.6-17.6s7.9-17.6,17.6-17.6s17.6,7.9,17.6,17.6S381.2,320.9,371.5,320.9z M403.5,297.3    c-2.9-15.1-16.1-26.5-32-26.5c-8.6,0-16.5,3.4-22.3,8.9v-61.3h12.9v34.3c0,4.1,3.4,7.5,7.5,7.5h41.3v37.1H403.5z"
                ></path><path
                  d="M93.6,191.1h53.5c4.1,0,7.5-3.4,7.5-7.5s-3.4-7.5-7.5-7.5H93.6c-4.1,0-7.5,3.4-7.5,7.5S89.5,191.1,93.6,191.1z"
                ></path><path
                  d="M147.1,203.4h-41.2c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5h41.2c4.1,0,7.5-3.4,7.5-7.5S151.3,203.4,147.1,203.4z"
                ></path><path
                  d="M147.1,230.7h-26c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5h26c4.1,0,7.5-3.4,7.5-7.5S151.3,230.7,147.1,230.7z"
                ></path><path
                  d="M147.1,258h-9c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5h9c4.1,0,7.5-3.4,7.5-7.5S151.3,258,147.1,258z"
                ></path></g></g></svg>
          <span class="delivery__tab-text">
            Курьер
          </span>
        </a>
      </div>
      <div class="tabs-container">
        <div
          id="delivery-pickup"
          class="delivery__tabs-content tabs-content active"
        >
          <p class="delivery__tabs-content__text">
            Пункт самовывоза: г.Гродно, ул.Победы 18, 9:00 - 21:00 (ПН-ВС)
          </p>
        </div>
        <div id="delivery-courier" class="delivery__tabs-content tabs-content">
          <ul class="delivery-courier__list">
            <li class="delivery-courier__item js__dropdown-wrapper">
              <div class="delivery-courier__item-content js__dropdown-body">
                <p class="delivery__tabs-content__text">
                  Добавить новый адрес
                </p>
              </div>
              <div class="delivery-courier__dropdown-list js__dropdown-list">
                <form
                  class="delivery-courier__form"
                  action="add-address"
                  method="POST"
                >
                  <div class="delivery-courier__form-inner">
                    <input
                      class="delivery-courier__form-input"
                      type="text"
                      name="town"
                      placeholder="Город"
                      required
                    />
                    <input
                      class="delivery-courier__form-input"
                      type="text"
                      name="street"
                      placeholder="Улица"
                      required
                    />
                    <input
                      class="delivery-courier__form-input"
                      type="text"
                      name="house"
                      placeholder="Дом"
                      required
                    />
                    <input
                      class="delivery-courier__form-input"
                      type="text"
                      name="flat"
                      placeholder="Квартира"
                    />
                  </div>

                  <button
                    class="delivery-courier__form-btn reverse-btn"
                    type="submit"
                  >
                    Подтвердить
                  </button>
                </form>
              </div>
            </li>
            {{#if addresses}}
              <li class="delivery-courier__item js__dropdown-wrapper">
                <div class="delivery-courier__item-content js__dropdown-body">
                  <p class="delivery__tabs-content__text">
                    Выбрать из своих адресов
                  </p>
                </div>
                <ul class="delivery__my-address__list js__dropdown-list">
                  {{#each addresses}}
                    <li class="delivery__my-address__item">
                      <p class="delivery__my-address__item-text">
                        {{town}}, ул.{{street}},
                        {{house}}{{#if flat}}/{{flat}}{{/if}}
                      </p>

                      <a
                        class="delivery__my-address__item-btn reverse-btn"
                        href="/select-pay?addressId={{id}}"
                      >
                        Выбрать
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/if}}
          </ul>

        </div>
      </div>
    </div>

  </div>
</section>